.bg-gray-200 {
    background-color: $gray-200;
}
.bg-main-color {
    background-color: $main-color;
}
#avatar {
    max-width: 100%;
    line-height: 1;
    border-radius: 50%;
}
#name {
    margin-top: 35px;
    font-weight: 200;
    color: $main-color-dark;
    text-transform: uppercase;
    text-align: center;
    strong {
        font-weight: 600;
    }
}
#position {
    margin-bottom: 35px;
    font-weight: 200;
    text-align: center;
    color: $main-color-dark;
    font-size: 1.125rem;
    strong {
        font-weight: 600;
    }
}
#cvContent {
    width: 100%;
    max-width: 960px;
    margin: 15px auto;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
#rightColumn {
    // border-top: 15px solid orange;
    // border-bottom: 15px solid orange;
    padding: 15px 15px;
    color: $main-color-dark;
}
.sectionColumn {
    padding: 10px;
}
.sectionHeader {
    border-bottom: 2px solid $main-color-dark;
    margin-bottom: 5px;
    padding: 0 10px;
    h4 {
        padding: 5px 5px;
        margin: 0;
        line-height: 1;
        color: $main-color-dark;
        font-size: 1.125rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 200;
    }
}
.sectionContent {
    padding: 10px 15px;
    font-weight: 100;
    margin-bottom: 20px;
    p {
        margin-top: 0;
        margin-bottom: .5rem;
    }
}
.timeline {
    padding-left: 35px;
    position: relative;
    h4 {
        display: inline-block;
        color: $main-color-dark;
        font-size: 1.125rem;
    }
    h5 {
        display: inline-block;
        color: $gray-600;
        font-weight: 100;
        font-size: 0.9375em;
        margin-left: 5px;
    }
    h6 {
        font-size: 0.8125em;
        color: $gray-600;
    }
    &::before {
        width: 0.9375em;
        height: 0.9375em;
        background-color: $main-color-dark;
        display: block;
        content: ' ';
        position: absolute;
        left: 0;
        top: -1px;
        border-radius: 50%;
    }
    &::after {
        content: ' ';
        display: block;
        width: 2px;
        background-color: $main-color-dark;
        position: absolute;
        top: 5px;
        left: 6px;
        bottom: -20px;
    }
}